  <% @polls.each do |poll| %>
  <%if poll.old == false %>
      <tr>
        <td><%= poll.owner.capitalize %></td>
        <td><%= link_to poll.question, poll %></td>
      </tr>
  <% end %>
  <% end %>
