<h1 class="special" style="margin: 12px;">Listing polls</h1>


<div id="polls">
  <%= render :partial => "polls", :locals => {:polls => @polls} %>
</div>


<%= link_to 'Make your own!', new_poll_path, :class => "button [radius round]", remote: true %>
<div id="new-poll-modal" class="reveal-modal" data-reveal></div>
